/* Message Dialog */

@import "styles/colors.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"FantasqueSansMono Nerd Font 50";
}


window {
    width:      			1080px;
    padding:    			30px;
    border:					1px;
    border-radius:          0px;
    border-color:           @border;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@border;
}
